<link rel="stylesheet" href="/assets/css/user_profile.css">

<h1>This is codeial/ <%= title%></h1>

<!-- the rest is common part, the common part will render from the layout.ejs 
 -->

<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
    
        using partial  -->
  <!-- <%- include('_header'); %> includeing header -->

        

        <!-- <%- include('_footer'); %>  includeing footer -->
    <!-- partial end
    </body>
</html>  -->