<link rel="stylesheet" href="/assets/css/user_profile.css">

<h1>
    Codeial/ Profile Page
</h1>

<p> Name: <%= user.name%></p>
<p> Email: <%= user.email%></p>


<!-- the rest is the similar part, we only need to include the variable part
<html>
    <head>
        <title>
            <%= title %>
        </title>
        
    </head>

    <body>
        <!-- <header>
            Page header
        </header> -->
        
        <!-- <footer>
            Page Footer
        </footer> -->
    <!-- </body>
</html> --> 